.container {
    max-width: 560px;
    margin: 0 auto;
    padding: 40px 20px;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__item-title {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    margin: 0;
}